h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1rz0oau*_ga*MzYzNzc5Mjg1LjE2NDI4MDI4OTA.*_ga_3LRZM6TM9L*MTY3NDczOTU4My4zMjguMS4xNjc0NzQwMTg4LjU3LjAuMA..");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes h2 {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frames h2 {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paints h2 {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.sale {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}